@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: var(--font-family-project);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

input {
  border: none;
  border-bottom: 4px solid #f3f6f9be;
  width: 465px;
  height: 30px;
}

h3 {
  justify-content: center;
  color: black;
  font-family: var(--font-family-project);
  font-weight: 300;
}

#headerNavigation {
  padding: 10px;
  background-color: #0acf83;
  text-align: right;
}

#expenses,
#category,
#bar {
  color: white;
  font-weight: 900;
  font-family: var(--font-family-project);
  padding: 25px;
}

#addExpense,
#categoryRegister,
#modalAddEditCategory {
  display: none;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.838);
}

.home {
  width: 100%;
}

.monitoringHome {
  display: flex;
  margin-top: 60px;
  margin-right: 15%;
  margin-left: 20%;
  padding: 5px;
  background-color: white;
  border-radius: 5px solid;
}
.cardPayament {
  padding: 20px;
}

#filter {
  display: flex;
  margin-top: 60px;
  margin-left: 7%;
}

.typeInputText {
  width: 450px;
  height: 25px;
  margin-left: 30px;
}

.typeInputTextPage {
  width: 450px;
  height: 25px;
  margin-left: 5px;
  margin-top: 10px;
}

.modalInput {
  font-family: var(--font-family-project);
  font-weight: 400;
  font-size: 12px;
  color: #00000077;
  margin-top: 20px;
  margin-left: 25px;
  padding: 5px;
}

#buttonFilter,
#buttonFilterCategory {
  display: inline;
}

.textFilter {
  margin-left: 20px;
  font-family: var(--font-family-project);
  font-weight: 400;
  font-size: 12px;
  color: #00000085;
}

.textFilterPage {
  margin-left: 20px;
  font-family: var(--font-family-project);
  font-weight: 400;
  font-size: 12px;
  color: #00000085;
}

.textCategory {
  display: block;
}

#headerTableHomePage td,
#bodyTableHomePage td,
#headerTableCategoryRegister td,
#bodyTableAddCategory td {
  align-items: center;
  padding: 1px 30px;
}

#homePageTable,
#registerCategoryPageInitial {
  padding: 3% 10%;
  margin-left: 20%;
  justify-content: space-between;
}

.homePageTableHeader,
.categoryRegisterTableHeader {
  font-family: var(--font-family-project);
  font-weight: 400;
  font-size: 16px;
  color: #000000e0;
  padding: 20px 50px;
}

#tableHeader {
  padding: 10px;
}

.headTable {
  color: #000000de;
  background-color: #f3f6f9;
}

tr:nth-child(odd) {
  background-color: white;
  border-bottom: solid 5px #f3f6f991;
}

tr:nth-child(even) {
  background-color: #f3f6f9;
  border-bottom: solid 5px #f3f6f991;
}

#categoryAddExpense {
  margin-bottom: 30px;
}

#pageCategory,
#modalAddExpense {
  width: 50%;
}

.buttonModal {
  display: flex;
  justify-content: center;
}

.buttonblue {
  justify-content: center;
  width: 108px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #2196f3;
  color: white;
  border: #2196f3;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.buttonblueTable {
  width: 60px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #2196f3;
  color: white;
  border: #2196f3;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.buttonCancel {
  width: 120px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #d32f2f;
  border: #d32f2f;
}

.buttonCancelTable {
  width: 60px;
  height: 30px;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #d32f2f;
  border: #d32f2f;
}

.btnStyle {
  padding: 20px;
}

#buttonAddExpenseTriggerModal,
#buttonPageRegisterCategory {
  width: 200px;
  height: 42px;
  margin-top: 20px;
  margin-right: 10%;
  float: right;
}

#btnChangeStatus {
  justify-content: center;
  width: 108px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
  border: red;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.monitoringHome {
  display: flex;
}

.typePayament {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 130px;
  padding: 20px;
  margin: 10px;
  font-family: var(--font-family-project);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px rgba(255, 255, 255, 0.445);
}

#monitoringTotalPaid {
  display: flex;
  border-bottom: 5px solid #178d46;
}

#monitoringTotalPayable {
  display: flex;
  border-bottom: 5px solid #ff0000;
}

#monitoringLate {
  display: flex;
  border-bottom: 5px solid #ffb800;
}

#fadeAddExpense,
#fadeRegisterCategory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 5;
}

#modalAddExpense,
#pageCategory {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  width: 50%;
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 5px 1px 1px rgba(188, 185, 185, 0.789);
}

#titlePage {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.titlePages {
  color: #2196f3;
  font-family: var(--font-family-project);
  font-size: 24px;
  font-weight: 500;
}

.pageRegisterCategory,
.pageAddEditCategory,
.pageAddExpense {
  display: block;
}
